body {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.section {
    border-bottom: 1px solid #444;
    padding: 15px;
}

.section-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
}

.section-label {
    margin-right: 10px;
    font-weight: bold;
}

.hide {
    display: none;
}

input {
    margin: 0 5px;
}

#history-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.date {
    width: 120px;
}

.account {
    width: 80px;
}

.amount {
    width: 90px;
}

.description {
}