body {
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    position: relative;
}

.card {
    position: relative;
    width: 250px;
    height: 450px;
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: -1px -1px 25px rgb(0 0 0/.2);
}

.card-bg {
    position: absolute;
}

.card-bg:nth-child(1) {
    left: -15px;
    top: -15px;
}

.card-bg:nth-child(2) {
    left: -10px;
    top: -10px;
}

.card-bg:nth-child(3) {
    left: -5px;
    top: -5px;
}

.card-heading {
    font-weight: bold;
}

.card-title {
    font-size: 22px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-buttons {
    margin: 20px;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
}

button {
    margin: 5px;
}